force-app/main/default/flows/abhiAutoDecisionMain.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>1</description>
        <name>inc_by_1</name>
        <label>inc by 1</label>
        <locationX>341</locationX>
        <locationY>261</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>number_of_pricing_option</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>if_counter_not_0</name>
        <label>if counter not 0</label>
        <locationX>662</locationX>
        <locationY>228</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_pricing_options</targetReference>
            </connector>
            <label>Not 0</label>
        </rules>
        <rules>
            <name>Is_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_flow_abhi</targetReference>
            </connector>
            <label>Is 0</label>
        </rules>
    </decisions>
    <description>df2</description>
    <interviewLabel>abhiAutoDecisionMain {!$Flow.CurrentDateTime}</interviewLabel>
    <label>abhiAutoDecisionMain</label>
    <loops>
        <name>number_of_pricing_option</name>
        <label>number of pricing option</label>
        <locationX>137</locationX>
        <locationY>351</locationY>
        <collectionReference>Get_Pricing_Option</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>inc_by_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>if_counter_not_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_pricing_options</name>
        <label>Delete pricing options</label>
        <locationX>707</locationX>
        <locationY>476</locationY>
        <connector>
            <targetReference>Custom_flow_abhi</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Pricing_Option__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Pricing_Option</name>
        <label>Get Pricing Option</label>
        <locationX>152</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>number_of_pricing_option</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Pricing_Option__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Pricing_Option</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>1</description>
        <name>Custom_flow_abhi</name>
        <label>Custom flow abhi</label>
        <locationX>860</locationX>
        <locationY>244</locationY>
        <flowName>Retrive_Pricing_Options_Custom</flowName>
        <inputAssignments>
            <name>LoanId</name>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
