force-app/main/default/flows/CP_approved_by_FO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>loan_record_get</name>
        <label>loan record get</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>LoanRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_loan_status_to_cp_approved_by_fo</targetReference>
        </connector>
    </assignments>
    <interviewLabel>CP approved by FO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CP approved by FO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_loan_status_to_cp_approved_by_fo</name>
        <label>Update loan status to cp approved by fo</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__Status__c</field>
            <value>
                <stringValue>CP approved by FO</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Loan__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>loan_record_get</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__reviewStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conditions prior to signing</stringValue>
            </value>
        </filters>
        <object>LLC_BI__LLC_LoanDocument__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>LoanRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
