force-app/main/default/flows/NotesHandler_LoanDocument.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Calling_NotestoDocMan_Handler</name>
        <label>Calling NotestoDocMan_Handler</label>
        <locationX>176</locationX>
        <locationY>935</locationY>
        <actionName>01p1j00000AXA1RNotFound</actionName>
        <actionType xsi:nil="true"/>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>loanId</name>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assigning_Loan_Id</name>
        <label>Assigning Loan Id</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>LoanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Getting_Loan_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_noe</name>
        <label>Assigning noe</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>CounterVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Getting_Loan_Records.Number_Of_Employees__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Incrementing_counter_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Incrementing_counter_variable</name>
        <label>Incrementing counter variable</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CounterVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updating_loan_temporarily</targetReference>
        </connector>
    </assignments>
    <interviewLabel>NotesHandler_LoanDocument {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NotesHandler_LoanDocument</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Getting_Loan_Records</name>
        <label>Getting Loan Records</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigning_noe</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updating_loan_temporarily</name>
        <label>Updating loan temporarily</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Calling_NotestoDocMan_Handler</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_Of_Employees__c</field>
            <value>
                <elementReference>CounterVariable</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Loan__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assigning_Loan_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__reviewStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>LLC_BI__LLC_LoanDocument__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CounterVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>LoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
