force-app/main/default/flows/Notification_to_Legal_and_IM_for_signed_agreement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_notification_to_legal_and_IM</name>
        <label>Send notification to legal and IM</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML1j0000000FbOGAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>The Loan agreement has been signed. Please click to view.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>LegalOfficerandInvestmentmanager</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.LLC_BI__Loan__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_legal_and_IM</name>
        <label>Assign legal and IM</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>LegalOfficerandInvestmentmanager</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0051j000009kFHTAA2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalOfficerandInvestmentmanager</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.IM_user_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_notification_to_legal_and_IM</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Created by Team</description>
        <name>Check_Investment_Manager_on_Loan_is_Fileed</name>
        <label>Check Investment Manager on Loan is Fileed</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Investment_Manager_is_on_Loan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Loan__r.Investment_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_legal_and_IM</targetReference>
            </connector>
            <label>If Investment Manager is on Loan</label>
        </rules>
    </decisions>
    <interviewLabel>Notification to Legal and IM for signed agreement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notification to Legal and IM for signed agreement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Investment_Manager_on_Loan_is_Fileed</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loan Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__reviewStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Signed</stringValue>
            </value>
        </filters>
        <object>LLC_BI__LLC_LoanDocument__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>LegalOfficerandInvestmentmanager</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
