force-app/main/default/flows/OnLoanCreation_ReferralStageUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Storing_Referral_ID</name>
        <label>Storing Referral ID</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>ReferralID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updating_Referral_Record</targetReference>
        </connector>
    </assignments>
    <description>Created by Team</description>
    <interviewLabel>OnLoanCreation_ReferralStageUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OnLoanCreation_ReferralStageUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Clear_Product_Reference_Field</name>
        <label>Clear Product Reference Field</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Storing_Referral_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>LLC_BI__Product_Reference__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_Referral_Record</name>
        <label>Updating Referral Record</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReferralID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Converted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_status__c</field>
            <value>
                <stringValue>Converted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nRE__Referral_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>nRE__Referral__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Clear_Product_Reference_Field</targetReference>
        </connector>
        <object>LLC_BI__Loan__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ReferralID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
