force-app/main/default/flows/relationship_to_contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <interviewLabel>relationship to contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>relationship to contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Connection_Record</name>
        <label>Create Connection Record</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Add_Individual_relationship_to_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>LLC_BI__Connected_From__c</field>
            <value>
                <elementReference>Create_Relationship_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Connected_To__c</field>
            <value>
                <elementReference>$Record.Business_Relationship__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Connection_Role__c</field>
            <value>
                <stringValue>a1f1j000000rhUSAAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Not_Created_From_Referral__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Connection__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Connection_record_Business_Individual</name>
        <label>Create Connection record-Business-Individual</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Create_Connection_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>LLC_BI__Connected_From__c</field>
            <value>
                <elementReference>$Record.Business_Relationship__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Connected_To__c</field>
            <value>
                <elementReference>Create_Relationship_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Connection_Role__c</field>
            <value>
                <stringValue>a1f1j000000rhUSAAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Not_Created_From_Referral__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Connection__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Relationship_Record</name>
        <label>Create Relationship Record</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Create_Connection_record_Business_Individual</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Add_Individual_relationship_to_Contact</name>
        <label>Add Individual relationship to Contact</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Business_Relationship__c</field>
            <value>
                <elementReference>Create_Relationship_Record</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Relationship_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
