force-app/main/default/flows/Retrive_Pricing_Options_Custom.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Decide_Product_Line_Flow</name>
        <label>Decide Product Line Flow</label>
        <locationX>662</locationX>
        <locationY>86</locationY>
        <defaultConnector>
            <targetReference>Pricing_Options_for_Retail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Retail</defaultConnectorLabel>
        <rules>
            <name>Mortgage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoanRecord.LLC_BI__Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mortgage</stringValue>
                </rightValue>
            </conditions>
            <label>Mortgage</label>
        </rules>
    </decisions>
    <interviewLabel>Retrive Pricing Options_WithoutMortgage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retrive_Pricing_Options_Custom</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Product_Line</name>
        <label>Get Product Line</label>
        <locationX>113</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <outputReference>LoanRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Product_Line__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>check</name>
        <label>check</label>
        <locationX>312</locationX>
        <locationY>259</locationY>
        <connector>
            <targetReference>Decide_Product_Line_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__Description__c</field>
            <value>
                <stringValue>im abhishek</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Loan__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Product_Line</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Pricing_Options_for_Retail</name>
        <label>Pricing Options for Retail</label>
        <locationX>737</locationX>
        <locationY>321</locationY>
        <flowName>Unsecured_Pricing_Options</flowName>
        <inputAssignments>
            <name>LoanId</name>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>LoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
</Flow>
