force-app/main/default/flows/SmartChecklistAlert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Created by Team</description>
        <name>Notification_Alert</name>
        <label>Notification Alert</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML1j0000000FaGGAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Hi there, A Notification has been assigned to you.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Notification for Contact the Customer Task</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>UsersId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.LLC_BI__Checklist__r.LLC_BI__Context_Id__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Created by Team</description>
        <name>AssigningUserID</name>
        <label>AssigningUserID</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>UsersId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.LLC_BI__Assignee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updating_Records</targetReference>
        </connector>
    </assignments>
    <description>Created by Team</description>
    <interviewLabel>SmartChecklistAlert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SmartChecklistAlert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Created by team</description>
        <name>Updating_Records</name>
        <label>Updating Records</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Notification_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>LLC_BI__Actual_Duration_Days__c</field>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AssigningUserID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact the customer</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Requirement__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Created by Team</description>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0057Q000002UXMkQAO</stringValue>
        </value>
    </variables>
    <variables>
        <description>CreatedByTeam</description>
        <name>UsersId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
