force-app/main/default/flows/TaskNotification_DueDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Created By Team</description>
        <name>SmartChecklist_TaskDueDate_0</name>
        <label>SmartChecklist_TaskDueDate</label>
        <locationX>264</locationX>
        <locationY>756</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Loop_over_requirements</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML1j0000000FbOGAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>You have a Task to be completed today</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Task overdue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>UsersId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Loop_over_requirements.WhatId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Created by Team</description>
        <name>Assigning_User_Id</name>
        <label>Assigning User Id</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>UsersId</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0057Q000002UXMkQAO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Due_Date_Records_Only</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_what_id_exist</name>
        <label>If what id exist</label>
        <locationX>396</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>Loop_over_requirements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>what_id_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_requirements.WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SmartChecklist_TaskDueDate_0</targetReference>
            </connector>
            <label>what id is not null</label>
        </rules>
    </decisions>
    <description>1</description>
    <formulas>
        <name>Today_date</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>TaskNotification_DueDate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TaskNotification_DueDate</label>
    <loops>
        <description>Createdby Team</description>
        <name>Loop_over_requirements</name>
        <label>Loop over requirements</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <collectionReference>Get_Due_Date_Records_Only</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_what_id_exist</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Created by Team</description>
        <name>Get_Due_Date_Records_Only</name>
        <label>Get Due Date Records Only</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_requirements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Today_date</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assigning_User_Id</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-03-07</startDate>
            <startTime>12:10:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Created by Team</description>
        <name>UsersId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
