force-app/main/default/flows/Tranche_expected_date_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <formulas>
        <name>BugetTranchedateplus30</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.LLC_BI__Budget__r.Expected_tranche_date__c}+30</expression>
    </formulas>
    <interviewLabel>Tranche expected date update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tranche expected date update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Budget_line_item_due_date_change</name>
        <label>Budget line item due date change</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Budget_record_update</targetReference>
        </connector>
        <inputAssignments>
            <field>Expected_tranche_date__c</field>
            <value>
                <elementReference>BugetTranchedateplus30</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Budget_record_update</name>
        <label>Budget record update</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Budget__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Expected_tranche_date__c</field>
            <value>
                <elementReference>BugetTranchedateplus30</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Budget__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Budget_line_item_due_date_change</targetReference>
        </connector>
        <object>LLC_BI__Budget_Line_Item__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BudgetTranchedate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.LLC_BI__Budget__r.Expected_tranche_date__c</elementReference>
        </value>
    </variables>
</Flow>
