force-app/main/default/flows/Unsecured_Pricing_Options.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Increment_Pricing_Options_Count</name>
        <label>Increment Pricing Options Count</label>
        <locationX>992</locationX>
        <locationY>81</locationY>
        <assignmentItems>
            <assignToReference>Pricing_Options_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>id_loan_term_not_blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Options_Found</name>
        <label>No Options Found</label>
        <locationX>1008</locationX>
        <locationY>678</locationY>
        <assignmentItems>
            <assignToReference>Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Options Found</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>optionsReturned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Options_Found</name>
        <label>Options Found</label>
        <locationX>800</locationX>
        <locationY>678</locationY>
        <assignmentItems>
            <assignToReference>optionsReturned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Credit_Score</name>
        <label>Set Credit Score</label>
        <locationX>549</locationX>
        <locationY>137</locationY>
        <assignmentItems>
            <assignToReference>CreditScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.LLC_BI__FICO_Score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan.LLC_BI__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Pricing_Logic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>total_debt</name>
        <label>total debt</label>
        <locationX>194</locationX>
        <locationY>667</locationY>
        <assignmentItems>
            <assignToReference>totaldebt</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>adddebt.LLC_BI__Principal_Balance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>adddebt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_income_assignment</name>
        <label>Total income assignment</label>
        <locationX>713</locationX>
        <locationY>540</locationY>
        <assignmentItems>
            <assignToReference>Income</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_income.LLC_BI__Yearly_Income__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_income</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Rate10</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate11</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>11.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate12</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>12.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate13</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>13.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate14</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>14.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate8</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate8_5</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.5</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate9</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.5</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate9_5</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.5</numberValue>
        </value>
    </constants>
    <constants>
        <name>Term12</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>12.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Term24</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>24.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Term36</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>36.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Term48</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>48.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Term60</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>60.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Has_Results</name>
        <label>Has Results</label>
        <locationX>885</locationX>
        <locationY>572</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Results_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pricing_Options_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Options_Found</targetReference>
            </connector>
            <label>Results Found</label>
        </rules>
        <rules>
            <name>No_Results_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pricing_Options_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Options_Found</targetReference>
            </connector>
            <label>No Results Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>id_loan_term_not_blank</name>
        <label>id loan term  blank</label>
        <locationX>1150</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Create_Pricing_Option</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>loan_term_is_range</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan.LLC_BI__Term_Months__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Pricing_Matrix_Row.Minimum_Term__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loan.LLC_BI__Term_Months__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Pricing_Matrix_Row.Maximum_Term__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_pricing_option_1</targetReference>
            </connector>
            <label>loan term is range</label>
        </rules>
    </decisions>
    <description>This Flow references pricing variables from the Pricing Matrix object to create Pricing Option records. Given relevant loan, product, and account information, the Pricing Option record includes Interest Rate and Term.</description>
    <formulas>
        <name>MonthlyPayment</name>
        <dataType>Currency</dataType>
        <expression>{!LoanAmount}/{!Pricing_Matrix_Row.LLC_BI__Term_Months__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Calculate Pricing Options</interviewLabel>
    <label>Unsecured_Pricing_Options</label>
    <loops>
        <name>adddebt</name>
        <label>add debt</label>
        <locationX>201</locationX>
        <locationY>547</locationY>
        <collectionReference>get_debt_record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>total_debt</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_relationship</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_income</name>
        <label>loop income</label>
        <locationX>553</locationX>
        <locationY>690</locationY>
        <collectionReference>Total_income</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Total_income_assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Credit_Score</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Process_Pricing_Logic</name>
        <label>Process Pricing Logic</label>
        <locationX>895</locationX>
        <locationY>402</locationY>
        <assignNextValueToReference>Pricing_Matrix_Row</assignNextValueToReference>
        <collectionReference>Pricing_Matrix</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Pricing_Options_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Results</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Pricing_Option</name>
        <label>Create Pricing Option</label>
        <locationX>1385</locationX>
        <locationY>402</locationY>
        <connector>
            <targetReference>Process_Pricing_Logic</targetReference>
        </connector>
        <inputAssignments>
            <field>LLC_BI__DTI__c</field>
            <value>
                <numberValue>25.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Loan_Amount__c</field>
            <value>
                <elementReference>LoanAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Loan__c</field>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Rate__c</field>
            <value>
                <elementReference>Pricing_Matrix_Row.LLC_BI__Interest_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Term__c</field>
            <value>
                <elementReference>Pricing_Matrix_Row.LLC_BI__Term_Months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Pricing_Matrix_Row.Name</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Pricing_Option__c</object>
    </recordCreates>
    <recordCreates>
        <name>create_pricing_option_1</name>
        <label>create pricing option 1</label>
        <locationX>1358</locationX>
        <locationY>99</locationY>
        <connector>
            <targetReference>Process_Pricing_Logic</targetReference>
        </connector>
        <inputAssignments>
            <field>LLC_BI__DTI__c</field>
            <value>
                <numberValue>25.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Loan_Amount__c</field>
            <value>
                <elementReference>LoanAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Loan__c</field>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Rate__c</field>
            <value>
                <elementReference>Pricing_Matrix_Row.LLC_BI__Interest_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Term__c</field>
            <value>
                <elementReference>Loan.LLC_BI__Term_Months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Pricing_Matrix_Row.Name</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Pricing_Option__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Pricing_Logic</name>
        <label>Find Pricing Logic</label>
        <locationX>717</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_Pricing_Logic</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Credit_Score_Maximum__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CreditScore</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Credit_Score_Minimum__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>CreditScore</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Loan_Value_Maximum__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>LoanAmount</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Loan_Value_Minimum__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>LoanAmount</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Product_Line_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan.LLC_BI__Product_Line__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan.LLC_BI__Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Product_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan.LLC_BI__Product_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Min_Debt__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>totaldebt</elementReference>
            </value>
        </filters>
        <filters>
            <field>Max_Debt__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>totaldebt</elementReference>
            </value>
        </filters>
        <filters>
            <field>min_income__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Income</elementReference>
            </value>
        </filters>
        <filters>
            <field>max_income__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Income</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Pricing_Matrix__c</object>
        <outputReference>Pricing_Matrix</outputReference>
        <queriedFields>LLC_BI__Term_Months__c</queriedFields>
        <queriedFields>LLC_BI__Interest_Rate__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Maximum_Term__c</queriedFields>
        <queriedFields>Minimum_Term__c</queriedFields>
        <sortField>LLC_BI__Term_Months__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>get_debt_record</name>
        <label>get debt record</label>
        <locationX>89</locationX>
        <locationY>447</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>adddebt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Debt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Account</name>
        <label>Lookup Account</label>
        <locationX>241</locationX>
        <locationY>235</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_debt_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan.LLC_BI__Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>LLC_BI__FICO_Score__c</queriedFields>
        <queriedFields>LLC_BI__Region__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Loan</name>
        <label>Lookup Loan</label>
        <locationX>135</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <outputReference>Loan</outputReference>
        <queriedFields>LLC_BI__Account__c</queriedFields>
        <queriedFields>LLC_BI__Amount__c</queriedFields>
        <queriedFields>LLC_BI__Product_Line__c</queriedFields>
        <queriedFields>LLC_BI__Product_Type__c</queriedFields>
        <queriedFields>LLC_BI__Product__c</queriedFields>
        <queriedFields>LLC_BI__Term_Months__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Total_income</name>
        <label>Total income</label>
        <locationX>386</locationX>
        <locationY>599</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_income</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Income__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_relationship</name>
        <label>update relationship</label>
        <locationX>370</locationX>
        <locationY>237</locationY>
        <connector>
            <targetReference>Total_income</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Debt__c</field>
            <value>
                <elementReference>totaldebt</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>104</locationY>
        <connector>
            <targetReference>Lookup_Loan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CreditScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Income</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>The loan</description>
        <name>Loan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <description>The amount requested for the loan.</description>
        <name>LoanAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>The Id of the Loan</description>
        <name>LoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>optionsReturned</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>A collection of Pricing Matrix records discovered through Record Lookup (Find Pricing Matrix)</description>
        <name>Pricing_Matrix</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Pricing_Matrix__c</objectType>
    </variables>
    <variables>
        <description>One of the Pricing Matrix records retrieved that applies to Loan, Account, and Product selections</description>
        <name>Pricing_Matrix_Row</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Pricing_Matrix__c</objectType>
    </variables>
    <variables>
        <description>Counts the number of discovered Pricing Option rules in the Product Matrix table.</description>
        <name>Pricing_Options_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>totaldebt</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
